body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background: url("http://wallpoper.com/images/00/36/84/95/fight-club_00368495.png") no-repeat center center fixed;
  background-color: black;
}


.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}



/*
  Section styles
 */
.card { 
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

.hero--square {

  background-image: url("http://vignette4.wikia.nocookie.net/thestudents/images/0/06/Mr_Incredible_transparent.png/revision/latest/scale-to-width-down/272?cb=20141127041823");
  display: inline-block;
  background-size: cover;
  width: 35%;
  height: 75%;
  color: blue;
  font-weight: 25px;
  margin-top: 300px;
}

.hero-stats {
  width: 35%;
  height: 75%;

}

.enemies--square {
  background-image: url("http://vignette4.wikia.nocookie.net/the-adventures-of-the-gladiators-of-cybertron/images/e/ea/Dr._Evil.png/revision/latest?cb=20141005115529");
  display: inline-block;
  background-size: cover;
  float: right;
  width: 35%;
  height: 75%;
  color: red;
  font-weight: 25px;
  margin-top: 300px;


}

.enemies-stats {
   width: 35%;
  height: 75%;
  text-shadow: 10px;
  
  }





